*.o
.deps/
.dirstamp
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/depcomp
/dumpwad
/include/autoconf.h
/include/autoconf.h.in
/include/stamp-h1
/install-sh
/missing
/packages/quadra.nsi
/packages/readme-win32.txt
/quadra
/quadra.res
/quadra.spec
/test_version
/wadder
