*.o
.deps/
.dirstamp
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/dumpwad
/install-sh
/missing
/packages/quadra.nsi
/packages/readme-win32.txt
/quadra
/quadra.res
/quadra.spec
/source/autoconf.h
/source/autoconf.h.in
/source/stamp-h1
/test_version
/wadder
